
body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1da36+0,fefcea+100 */
background: rgb(241,218,54); /* Old browsers */
background: -moz-linear-gradient(top, rgba(241,218,54,1) 0%, rgba(254,252,234,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(241,218,54,1) 0%,rgba(254,252,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(241,218,54,1) 0%,rgba(254,252,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
}


th,
td {
    background-color:black;
    border: 1px solid black;
    width: 50px;
    height: 50px;
   
}

table {
   
    
}



#line {
    
   
    font-size: 3em;
   
}

#semaphore {
   
    
 
    visibility: hidden;
    color:antiquewhite;
    margin: 15px;

  
}

#game1,#game2,#game3,#game4,#game5,#game6{
    
    height: 350px;
    width: 200px;
    margin:20px;
    background-color: #2B2D2E;
    opacity: 0.7;
    color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    
}
#button1,#button2,#button3,#button4,#button5,#button6{
    background-color: #2B2D2E;
    color: antiquewhite;
    border-color: #2B2D2E;
    border-radius: 5px;
    width: 100px;
    height: 35px;


}

